[Unit]
Description=Github Commit Updater
After=network-online.target
Wants=network-online.target
[Service]
User=peppe
WorkingDirectory=/home/peppe/github-commit-updater
ExecStart=/home/peppe/github-commit-updater/venv/bin/python3 -m main
KillMode=control-group
KillSignal=SIGINT
[Install]
WantedBy=multi-user.target
